* html #ed_toolbar input, *:first-child+html #ed_toolbar input {
	overflow: visible;
}
#ed_toolbar input:hover {
	border-color: #aaa;
	background: #ddd;
}
#ed_toolbar input {
	background: #fff url("../../../wp-admin/images/fade-butt.png") repeat-x 0 -2px;
	border-color: #C3C3C3;
	margin: 3px 1px 4px;
	line-height: 18px;
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	min-width: 26px;
	width: auto;
	padding: 2px 4px;
	font-size: 12px;
	/*-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;*/
	border-radius: 3px;
}
#ed_link {
	text-decoration: underline;
	color: #00f;
}
#ed_del {
	text-decoration: line-through;
}
#ed_em {
	font-style: italic;
}
#ed_strong {
	font-weight: bold;
}